Rain Detector/flows.json
[{"id":"f3366734.0db66","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4f54988b.a09fd","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"ede3cb23.bc44c","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"21a6c7d7.0257e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bbcefeb8.c467e8","type":"ui_group","name":"Gauges","tab":"ede3cb23.bc44c","order":1,"disp":true,"width":"10","collapse":false},{"id":"a8383c5b.25045","type":"ui_group","name":"Charts","tab":"ede3cb23.bc44c","order":2,"disp":true,"width":"12","collapse":false},{"id":"66db4780.e9be68","type":"ui_group","name":"Control","tab":"ede3cb23.bc44c","order":3,"disp":true,"width":"8","collapse":false},{"id":"ded6d10b.10fce","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"3fb0b7d9.87c47","type":"serial in","z":"f3366734.0db66","name":"Arduino","serial":"4f54988b.a09fd","x":210,"y":240,"wires":[["2d178229.d074ce","cf7a9568.f0b9a8","a8ee8e63.1b3d38"]]},{"id":"5dc8bcb9.f1927c","type":"file","z":"f3366734.0db66","name":"Data Saving","filename":"data.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":650,"y":420,"wires":[[]]},{"id":"2d178229.d074ce","type":"split","z":"f3366734.0db66","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":410,"y":420,"wires":[["5dc8bcb9.f1927c"]]},{"id":"314bb6eb.3d11ba","type":"ui_gauge","z":"f3366734.0db66","name":"","group":"bbcefeb8.c467e8","order":0,"width":0,"height":0,"gtype":"gage","title":"Rain Analog Value","label":"units","format":"{{value}}","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"seg1":"341","seg2":"682","x":670,"y":200,"wires":[]},{"id":"1359e4fa.5cc40b","type":"ui_chart","z":"f3366734.0db66","name":"","group":"a8383c5b.25045","order":0,"width":0,"height":0,"label":"Solar Power","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":true,"x":650,"y":360,"wires":[[]]},{"id":"c0a7bf3b.6a502","type":"debug","z":"f3366734.0db66","name":"Filtered Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":120,"wires":[]},{"id":"cf7a9568.f0b9a8","type":"function","z":"f3366734.0db66","name":"Split Data","func":"if(msg.payload.includes(\"RainAO:\")){\n    var xt = msg.payload.split(\" \");\n    var ao = {'payload': xt[1]};\n    var dao = {'payload': xt[3]};\n    var sl = {'payload': xt[5]};\n    return [msg, ao, dao, sl]\n}","outputs":4,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":240,"wires":[[],["314bb6eb.3d11ba","25b4e320.4f2f64","c0a7bf3b.6a502","6cc37cec.91062c","922b843f.5a93b8"],["a79c6dce.faa16","c0f2f82.1c01b08","65579098.94fab8"],["ca8ffe93.a0a7b8","1359e4fa.5cc40b","e834ef1a.cb8de"]]},{"id":"1e112b3a.e1622d","type":"ui_gauge","z":"f3366734.0db66","name":"","group":"bbcefeb8.c467e8","order":1,"width":0,"height":0,"gtype":"wave","title":"Rain Digital Value","label":"","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":280,"wires":[]},{"id":"ca8ffe93.a0a7b8","type":"ui_gauge","z":"f3366734.0db66","name":"","group":"bbcefeb8.c467e8","order":2,"width":0,"height":0,"gtype":"gage","title":"Solar/Battery Voltage","label":"Volts","format":"{{value}}","min":0,"max":"25","colors":["#b51b00","#00cb00","#b51b00"],"seg1":"12","seg2":"14","x":680,"y":320,"wires":[]},{"id":"25b4e320.4f2f64","type":"ui_chart","z":"f3366734.0db66","name":"","group":"a8383c5b.25045","order":4,"width":0,"height":0,"label":"Analog Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":650,"y":160,"wires":[[]]},{"id":"f82b3370.948ce8","type":"ui_button","z":"f3366734.0db66","name":"","group":"66db4780.e9be68","order":0,"width":0,"height":0,"passthru":false,"label":"Powercut","tooltip":"","color":"","bgcolor":"","icon":"/home/pi/Downloads/power.png","payload":"PWROFF","payloadType":"str","topic":"topic","topicType":"msg","x":220,"y":500,"wires":[["8813ed37.092bd8","3d5572ad.f85326"]]},{"id":"8813ed37.092bd8","type":"serial out","z":"f3366734.0db66","name":"Arduino","serial":"4f54988b.a09fd","x":640,"y":620,"wires":[]},{"id":"3d5572ad.f85326","type":"debug","z":"f3366734.0db66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":520,"wires":[]},{"id":"4ae9bd5c.7105c4","type":"ui_text","z":"f3366734.0db66","group":"66db4780.e9be68","order":1,"width":0,"height":0,"name":"","label":"Rain Probability","format":"{{msg.payload}}","layout":"row-spread","x":1000,"y":60,"wires":[]},{"id":"7b966afe.d066c4","type":"ui_text","z":"f3366734.0db66","group":"66db4780.e9be68","order":3,"width":0,"height":0,"name":"","label":"Current Status","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":240,"wires":[]},{"id":"a79c6dce.faa16","type":"change","z":"f3366734.0db66","name":"Filter Raining","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"Not Raining","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"Raining","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":240,"wires":[["7b966afe.d066c4"]]},{"id":"c0f2f82.1c01b08","type":"change","z":"f3366734.0db66","name":"Filter Raining","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":280,"wires":[["1e112b3a.e1622d"]]},{"id":"a9282802.3f66b8","type":"ui_button","z":"f3366734.0db66","name":"open cover","group":"66db4780.e9be68","order":3,"width":0,"height":0,"passthru":false,"label":"Open Rain Cover","tooltip":"","color":"","bgcolor":"","icon":"","payload":"OPCVR","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":560,"wires":[["8813ed37.092bd8","3d5572ad.f85326"]]},{"id":"f4cc6fc5.b39de","type":"ui_button","z":"f3366734.0db66","name":"Close Cover","group":"66db4780.e9be68","order":4,"width":0,"height":0,"passthru":false,"label":"Close Rain Cover","tooltip":"","color":"","bgcolor":"","icon":"","payload":"CLCVR","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":620,"wires":[["8813ed37.092bd8","3d5572ad.f85326"]]},{"id":"a8ee8e63.1b3d38","type":"debug","z":"f3366734.0db66","name":"Raw Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":420,"y":60,"wires":[]},{"id":"65579098.94fab8","type":"function","z":"f3366734.0db66","name":"","func":"if(msg.payload == 0 && global.isSent != true){\n    global.isSent = true;\n    return msg;   \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":200,"wires":[["60bc59cb.c808f","88b12793.a64fe8"]]},{"id":"60bc59cb.c808f","type":"debug","z":"f3366734.0db66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":140,"wires":[]},{"id":"8729dfc.a1c332","type":"pushover","z":"f3366734.0db66","name":"PushOver","device":"pi","title":"Message from Rain Detect System!","priority":0,"sound":"pushover","url":"","url_title":"Raining","html":false,"x":1240,"y":200,"wires":[],"info":"Raining"},{"id":"88b12793.a64fe8","type":"change","z":"f3366734.0db66","name":"PushOver Playload","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"Its like raining out there! System will shutdown the power to prevent lightning accidents.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":200,"wires":[["8729dfc.a1c332","77345a0.80162a8"]]},{"id":"6cc37cec.91062c","type":"predictor","z":"f3366734.0db66","name":"Model","modelPath":"/home/pi/predict.py","modelName":"model","x":810,"y":80,"wires":[["60bc59cb.c808f","4ae9bd5c.7105c4"],[]]},{"id":"77345a0.80162a8","type":"mqtt out","z":"f3366734.0db66","name":"MQTT rain","topic":"rain","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ded6d10b.10fce","x":1250,"y":240,"wires":[]},{"id":"922b843f.5a93b8","type":"mqtt out","z":"f3366734.0db66","name":"mqtt rain analog","topic":"rainanalog","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ded6d10b.10fce","x":880,"y":320,"wires":[]},{"id":"e834ef1a.cb8de","type":"mqtt out","z":"f3366734.0db66","name":"mqtt solar ","topic":"solar","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ded6d10b.10fce","x":860,"y":360,"wires":[]}]